<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_LayoutHeadPartial")
</head>
<body class="bg-background font-display text-text-main antialiased overflow-hidden">
    <div class="flex h-screen w-full">
        @await Html.PartialAsync("_LayoutAsidePartial")
        <main class="flex flex-1 flex-col overflow-hidden">
            @await Html.PartialAsync("_LayoutHeaderPartial")
            @RenderBody()
        </main>
    </div>
</body>
</html>
